* {
    margin: 0;
    padding: 0;
    
}
.container{
    height: 829px;
    margin: auto;
    border-radius: 12px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
    .container{
        height: 100vh;
    }
}
.top-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding-top: 20px;
    height: 70px;
}
.top-bar input{
    display: flex;
    width: 55%;
    height: 80%;
    background: transparent;
    border: 4px solid rgba(255, 255, 255, 0.671);
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.cityInput::placeholder {
    color: #ffff;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 80%;
    background: transparent;
    border: 4px solid rgba(255, 255, 255, 0.671);
    border-radius: 40px;
    cursor: pointer;
}

.weather-image{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    transform: translate( 0%, 25%);
    opacity: 0;
    height: 25%;
    weight: 25%;
    
}

.animate {
    opacity: 1;
    transform: translate( 0%, 1em);
    transition: transform 2s .25s cubic-bezier(0,1,.3,1),
                opacity .5s .25s ease-out;
    will-change: transform, opacity;
}

.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 250%;
    font-weight: 400;
}
.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
.data-container{
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.data{
    font-size: 34px;
    font-weight: 400;
}
.text{
    font-size: 18px;
    font-weight: 400;
}
.icon{
    margin-top: 10px;
}
.container {
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
  }
  
.appear {
    opacity: 1;
    transition: opacity .5s .25s ease-out;
    will-change: opacity;
}
  